coveralls
flake8
ipython
mypy
nbsphinx
numpydoc
pytest
pytest-codestyle
pytest-cov
pytest-docstyle
pytest-mpl
pytest-pylint
python-coveralls
recommonmark
Sphinx
sphinx-autodoc-typehints
sphinx-rtd-theme
wheel
