bandit
coverage
coveralls
flake8
mypy
nbsphinx
numpydoc
pytest>=5.4
pytest-cov
pycodestyle
pydocstyle
pylint
pytest-mpl
recommonmark
scikit-learn
Sphinx
sphinx-autodoc-typehints
sphinx-rtd-theme
wheel
