coveralls
flake8
ipython
mypy
nbsphinx
numpydoc
pytest>=5.4
pytest-cov
pytest-pycodestyle
pytest-pydocstyle
pytest-mpl
pytest-pylint
python-coveralls
recommonmark
scikit-learn
Sphinx
sphinx-autodoc-typehints
sphinx-rtd-theme
wheel
